body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.donate-top{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 200px;
    color: white;
   
}
.donate-top .title1{
    font-size: 40px;
    margin-left: 20%;
    margin-right: 20%;

}
.para1{
    margin-left: 20%;
    margin-right: 20%;
}
.Donate{
    text-decoration: none;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    font-weight: 700;
    background-color: rgba(255, 89, 89, 1);
}

.donate-today-top{
    text-align: center;
    margin-top: 100px;

}
.para2{
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom:20px;
    color: rgba(112, 112, 112, 1);
}
.amount-all{
    display: flex;
    justify-content: center; 
    color: rgba(112, 112, 112, 1);
   
}

.amount-all .amount{
    justify-content: center;
    height: 135;
    width: 123;
    background-color: rgba(250, 250, 250, 1);
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
}
.amount-all #amount-color{
    border: solid 2px rgba(255, 89, 89, 1);
    background-color: rgba(255, 238, 238, 1);
    color: rgba(255, 89, 89, 1);
}
.taka{
    border-width: 0px;
    border: none;
    outline: none;
    color: rgb(105, 102, 102);
}
.hr{
    margin-left: 20%;
    margin-right: 20%;
    color: rgba(218, 218, 218, 1);
}

.donate-plan{
    text-align: center;
    margin-top: 100px;
}
.donate-item{
    display: flex;
}
.donate-item .item1{
   
    background-color: rgba(79, 157, 166, 0.1);
    margin-right: 20px;
    margin-left: 100px;
    padding-left: 20px;
    border-radius: 5px;
       
}
.donate-item .item2{

    background-color: rgba(255, 89, 89, 0.1);
    margin-right: 20px;
    padding-left: 20px;
    border-radius: 5px;


}
.donate-item .item3{

    background-color: rgba(255, 244, 214, 1);
    margin-right: 100px;
    padding-left: 20px;
    border-radius: 5px;

}
.donate-item .img{
    width: 50px;
    padding-top: 50px;
    padding-left: 10px;
}
.donate-con{
    display: flex;
    margin: 100px;
    
}
.short-title{
    font-size: 30px;
    margin-left: 20%;
    margin-right: 15%;
}
.para3{
    color: rgba(112, 112, 112, 1);
    margin-left: 20%;
    margin-right: 25%;
}
.contribute{
    text-decoration: none;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    font-weight: 700;
    background-color: rgba(255, 89, 89, 1);
    margin-left: 20%;
    margin-top: 20px;
}
.con-img{
    width: 400px;
    height: 300px;
    border-radius: 5px;
}
.con-img1{
        width: 400px;
        height: 300px;
        border-radius: 5px;
        margin-left: 12%;
}
.short-title1
{
        font-size: 30px;
        margin-left: 35%;
        margin-right: 15%;
}
.para4{
    color: rgba(112, 112, 112, 1);
    margin-left: 35%; 
    margin-right: 15%;
}
.contribute1{
    text-decoration: none;
        color: white;
        padding: 12px 20px;
        border-radius: 5px;
        font-weight: 700;
        background-color: rgba(255, 89, 89, 1);
        margin-left: 35%;
        margin-top: 20px;
}
.Donate-Storis{
    margin-left: 16%;
    margin-right: 15%;
}
.para5{
    color: rgba(112, 112, 112, 1);
}
.frist-story{
   width: 500px;
   background-image: url(images/donatestory.jpg);
   background-repeat: no-repeat;
   padding: 200px;
   margin-left: 16%;
}
.para6{
   
    color: white;
    font-size: 15px;
    margin-right: 3%;
    margin-top:10% ;
   
       
}
.para7{
    color: white;
}

.story-img{
    width: 120px;
    border-radius: 5px;
}
.full-storis{
    display: flex;
}
.half-story{
    margin-right: 25%;
}
.para8{
    font-size: 12px;
    color: rgba(112, 112, 112, 1);
}
.date{
    font-size: 12px;
}
.update{
    text-align: center;
}
.subs{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 244, 214, 1);
    padding: 60px;
    margin-left:400px ;
    margin-right: 400px;
    margin-top: 20px;
    margin-bottom: 80px;
    border-radius: 5px;
}
.email{
    background-color: rgb(209, 206, 206);
    border-radius: 5px 0px 0px 5px;
    border: none;
    width: 275px;
    height: 40px;
}
.sub{
        text-decoration: none;
        color: white;
        padding: 10px 20px ;
        border-radius: 0px 5px 5px 0px;
        background-color: rgba(255, 89, 89, 1);
}

footer {
    background-color: black;
    text-align: center;
}

footer .para-footer {
    color: white;
    padding-bottom: 30px;
    font-size: 10px;
    font-family: 'Manrope', sans-serif;
}

footer .title-footer {
    font-size: 15px;
    color: rgba(255, 89, 89, 1);
    padding-top: 20px;
    font-family: 'Lobster', cursive;

}


